@model All_In_One.Models.Teacher

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Edit Teacher</h2>
        </div>
        <div class="col-4">

        </div>
    </div>



    <div class="row">
        <div class="col-md-7">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*@Html.HiddenFor(e => e.TeacherId)*@
                <input type="hidden" asp-for="TeacherId" />
                <div class="form-group">
                    <label asp-for="TeacherName" class="control-label"></label>
                    <input asp-for="TeacherName" class="form-control" />
                    <span asp-validation-for="TeacherName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubjectOfTeacher" class="control-label"></label>
                    <input asp-for="SubjectOfTeacher" class="form-control" />
                    <span asp-validation-for="SubjectOfTeacher" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeacherMail" class="control-label"></label>
                    <input asp-for="TeacherMail" class="form-control" />
                    <span asp-validation-for="TeacherMail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" value="Save" class="btn btn-primary form-control" />
                        </div>

                        <div class="col-6">
                            <a asp-action="TeacherList" class="btn btn-success form-control">Teacher List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

