@*@model All_In_One.Models.Student*@

@model All_In_One.Models.ViewModels.StudentTeacherViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Create New Student</h2>
        </div>
        <div class="col-4">

        </div>
    </div>



    <div class="row">
        <div class="col-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StudentName" class="control-label"></label>
                    <input asp-for="StudentName" class="form-control" />
                    <span asp-validation-for="StudentName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentMail" class="control-label"></label>
                    <input asp-for="StudentMail" class="form-control" />
                    <span asp-validation-for="StudentMail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Department.DepartmentName" class="control-label"></label>
                    @*dropdown Menu*@
                    <select asp-for="DepartmentId" class="form-control" asp-items="@(new SelectList(ViewBag.DeptList,"DepartmentId","DepartmentName" ))">          

                    </select>

                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" value="Create" class="btn btn-primary form-control" />
                        </div>

                        <div class="col-6">
                            <a asp-action="StudentList" class="btn btn-success form-control">Student List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-6">
            <table>
                @for(int i = 0; i < Model.AvailableTeacher.Capacity; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(x=>Model.AvailableTeacher[i].TeacherId)
                            @Html.DisplayFor(n => Model.AvailableTeacher[i].TeacherName )
                        </td>
                        <td>
                            @Html.CheckBoxFor(n=> Model.AvailableTeacher[i].IsChecked)
                        </td>

                    </tr>
                }
            </table>
        </div>

    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");}

    }